<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1>Alpine Equipments Purchase Order</h1>
    </div>

    <div class="container">
      <!-- Purchase Order< form-->

      <div class="form-area">
        <h3>Create Purchase Order, Please Choose csv or xlsx File To Upload</h3>

        <form #usersForm="ngForm" (ngSubmit)="onPOItemBulkCreate(usersForm.value)">
          <!-- Operation Date will be provided according to current date, automatically by JS instead of UI, to prevent User Mis-Operation-->
          <label>Vendor Name:</label>
          <input type="text" name = "vendorName" ngModel required vendorName>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="file" #fileImportInput name="FileUpload" id="csvFileUpload" (change)="csvImport($event)" accept=".csv, .xlsx">
          <input type="submit" value="Create PO" [disabled]="!usersForm.valid">

        </form>
        <h2>{{operationResult}}</h2>
      </div>

      <!--Display po item area-->
      <div class="product-display-area">
        <h3>All PO Items</h3>
        <table id="users">
          <tr>
            <th>#</th>
            <th>Venodr</th>
            <th>Date</th>
            <th>Model</th>
            <th>UnitPrice</th>
            <th>Quantity</th>
          </tr>
          <tr *ngFor="let poItem of allPOItems; index as i">
            <td>{{i + 1}}</td>
            <td>{{poItem.vendorName}}</td>
            <td>{{poItem.dateStr}}</td>
            <td>{{poItem.modelName}}</td>
            <td>{{poItem.unitPrice}}</td>
            <td>{{poItem.quantity}}</td>
        </table>
        <hr>
        <div class="action-btn-container">
          <!--<button class="btn-fetch" (click)="onProductsFetch()">Fetch Product</button>-->
          <button class="btn-fetch" (click)="fetchPOItems()">Fetch POItems</button>
          <!--<button class="btn-clear" (click)="onProductsFetch()">Fetch Product From DB</button>-->
          <button class="btn-clear" (click)="csvExport()">Download POItems</button>
        </div>
      </div>

    </div>
  </div>
</div>